* {
    box-sizing: border-box;
}
:root {
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1920 - 320));
}
body {
    font: 1em Hind, sans-serif;
    line-height: 1.5em;
    color: #171717;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.search-bar {
    display: flex;
    max-width: 90%;
    border-radius: 1.5em;
    overflow: hidden;
}
.search-bar input {
    flex: 1;
    padding: 0.75em;
    border: none;
    background: #fff;
    color: inherit;
    font: inherit;
}
.search-bar button {
    padding: 0.75em;
    background: #2762f3;
    border: none;
    color: #fff;
    cursor: pointer;
}
.search-bar button:hover {
    background: #0c48db;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .search-bar input, .search-bar button {
        padding: 0.5em;
    }
}
